<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Trang Chủ</title>
    <%- include("head") %>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/blogcss.css"/>
    <script type="text/javascript" src="Js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<%- include("header") %>
<div class="header2">
    <div class="content hd2-container">
        <div class="container">
            <ul class="blog-list">
                <li><a href="#">Video</a></li>
                <li><a href="#">Giảm Cân</a></li>
                <li><a href="#">Bài Tập Nam</a></li>
                <li><a href="#">Bài Tập Nữ</a></li>
                <li><a href="#">Yoga</a></li>
                <li><a href="#">groupx & dance</a></li>
                <li><a href="#">dinh dưỡng</a></li>
                <li><a href="#">khỏe và đẹp</a></li>
                <li><a href="#">cộng đồng</a></li>
                <li><a href="#">tin tức và sự kiện</a></li>

            </ul>
        </div>
    </div>
</div>
<section class="main">
    <div class="container">
        <div class="row">
            <h1 class="blog-title">
                <span class="col-md-1 col-xs-4 row">VIDEOS</span>
                <span class="col-md-11 col-xs-8 line"></span>
            </h1>
            <div class="blog-videos">
                <ul class="row">
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <ul class="cate-group">
                            <li><a href="#"><img src="image/blog/anhblog1.jpg"></a></li>
                            <li><a href="#" style="margin-top: 15px"><div class="circle"></div>Videos</a></li>
                            <li><a href="#" title="5 bài tập yoga ở nhà giúp da chắc khỏe và rạng ngời">
                                    <h3>5 bài tập yoga ở nhà giúp da chắc khỏe và rạng ngời</h3></a></li>
                            <li><a href="#" class="more">Xem Thêm</a></li>
                        </ul>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <ul class="cate-group">
                            <li><a href="#"><img src="image/blog/anhblog2.jpg"></a></li>
                            <li><a href="#" style="margin-top: 15px"><div class="circle"></div>Videos</a></li>
                            <li><a href="#" title="Những trải nghiệm tuyệt vời chờ đón bạn tại California Centuryon tại Landmark 81">
                                    <h3>Những trải nghiệm tuyệt vời chờ đón bạn tại California Centuryon tại Landmark 81</h3></a></li>
                            <li><a href="#" class="more">Xem Thêm</a></li>
                        </ul>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <ul class="cate-group">
                            <li><a href="#"><img src="image/blog/my-club-my-addiction-thay-doi-thoi-quen-nghien-1535701898-1536231385.png"></a></li>
                            <li><a href="#" style="margin-top: 15px"><div class="circle"></div>Videos</a></li>
                            <li><a href="#" title="“My Club – My Addiction” góp phần định hình lại hành vi “nghiện”">
                                    <h3>“My Club – My Addiction” góp phần định hình lại hành vi “nghiện”</h3></a></li>
                            <li><a href="#" class="more">Xem Thêm</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <button class="btn-danger" style="float: right;padding: 15px 12px;border: none; font-size: large">Xem Thêm >></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2 row">
            <h1 class="blog-title row">
                <span class="col-md-6 col-xs-7 row">NEWS FEED - BÀI VIẾT MỚI NHẤT</span>
                <span class="col-md-6 col-xs-5 line" style="margin: 0;"></span>
            </h1>
            <div class="row">
                <div class="col-md-7 blog-link-img row">
                    <a href="#"><img src="image/blog/nf1.jpeg"></a>
                </div>
                <div class="col-md-5 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span>29/04/2020</span>
                    <a href="#"><h3 style="font-weight: 600">HỆ THỐNG CLB MỞ CỬA TRONG LỄ</h3></a>
                    <a href="#" class="more" style="font-size: 20px">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="content2 row">
            <h1 class="blog-title row">
                <span class="col-md-4 col-xs-6 row">CÁC ƯU ĐÃI ĐẶC BIỆT</span>
                <span class="col-md-8 col-xs-6 line" style="margin: 0;"></span>
            </h1>
            <div class="row">
                <div class="col-md-7 blog-link-img row">
                    <a href="#"><img src="image/blog/nf2.jpg"></a>
                </div>
                <div class="col-md-5 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span> 27/04/2020</span>
                    <a href="#"><h3 style="font-weight: 600">NHỮNG BIỆN PHÁP AN TOÀN TẬP LUYỆN</h3></a>
                    <p>Quý Hội Viên thân mến,Khi chúng tôi mở cửa tập luyện trở lại, ưu tiên lớn nhất của chúng tôi chính là an toàn cho Quý Hội viên.</p>
                    <a href="#" class="more" style="font-size: 20px">Xem Thêm</a>
                </div>
            </div>
            <hr class="row">
            <div class="row">
                <div class="col-md-7 blog-link-img row">
                    <a href="#"><img src="image/blog/uudai.png"></a>
                </div>
                <div class="col-md-5 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span> 27/04/2020</span>
                    <a href="#"><h3 style="font-weight: 600">CHÚNG TÔI MỞ CỬA TẬP LUYỆN TRỞ LẠI! HÃY ĐẾN VÀ TIẾP TỤC THEO ĐUỔI MỤC TIÊU NGAY</h3></a>
                    <p>Quý Hội Viên thân mến,Sau một thời gian tạm ngưng tập luyện để kiểm soát Covid19, tin vui là tất cả CLB California Fitness & Yoga sẽ mở ...</p>
                    <a href="#" class="more" style="font-size: 20px">Xem Thêm</a>
                </div>
            </div>
            <div class="row">
                <h1 class="blog-title row">
                    <span class="col-md-4 col-xs-6" style="font-size: 29px">BÀI VIẾT HỮU ÍCH NHẤT</span>
                    <span class="col-md-8 col-xs-6 line" style="margin: 0"></span>
                </h1>
                <div class="blog-article-helpful">
                    <ul class="row">
                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <ul class="cate-group">
                                <li><a href="#"><img src="image/blog/nf1.jpeg" alt="anh"></a></li>
                                <li style="display: flex; margin-top: 15px"><a href="#" style="display: flex"><div></div>TIN TỨC & SỰ KIỆN</a> <span style="width: 50%; margin-left: 15px">29/04/2020</span></li>
                                <li><a href="#" title="HỆ THỐNG CLB MỞ CỬA TRONG LỄ">
                                        <h3>HỆ THỐNG CLB MỞ CỬA TRONG LỄ</h3></a></li>
                                <li><a href="#" class="more">Xem Thêm</a></li>
                            </ul>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <ul class="cate-group">
                                <li><a href="#"><img src="image/blog/nf2.jpg" alt="anh"></a></li>
                                <li style="display: flex; margin-top: 15px"><a href="#" style="display: flex"><div></div>TIN TỨC & SỰ KIỆN</a> <span style="width: 50%; margin-left: 15px">29/04/2020</span></li>
                                <li><a href="#" title="NHỮNG BIỆN PHÁP AN TOÀN TẬP LUYỆN">
                                        <h3>NHỮNG BIỆN PHÁP AN TOÀN TẬP LUYỆN</h3></a></li>
                                <p>Quý Hội Viên thân mến,Khi chúng tôi mở cửa tập luyện trở lại, ưu tiên lớn nhất của chúng tôi chính là an toàn cho Quý Hội viên.</p>
                                <li><a href="#" class="more">Xem Thêm</a></li>
                            </ul>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <ul class="cate-group">
                                <li><a href="#"><img src="image/blog/uudai.png" alt="anh"></a></li>
                                <li style="display: flex; margin-top: 15px"><a href="#" style="display: flex"><div></div>TIN TỨC & SỰ KIỆN</a> <span style="width: 50%; margin-left: 15px">29/04/2020</span></li>
                                <li><a href="#" title="CHÚNG TÔI MỞ CỬA TẬP LUYỆN TRỞ LẠI! HÃY ĐẾN VÀ TIẾP TỤC THEO ĐUỔI MỤC TIÊU NGAY">
                                        <h3>CHÚNG TÔI MỞ CỬA TẬP LUYỆN TRỞ LẠI! HÃY ĐẾN VÀ TIẾP TỤC THEO ĐUỔI MỤC TIÊU NGAY</h3></a></li>
                                <p>Quý Hội Viên thân mến,Sau một thời gian tạm ngưng tập luyện để kiểm soát Covid19, tin vui là tất cả CLB California Fitness & Yoga sẽ mở ...</p>
                                <li><a href="#" class="more">Xem Thêm</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-link-img row">
                    <a href="#"><img src="image/blog/morenew1.png"></a>
                </div>
                <div class="col-md-8 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span> 11/04/2020</span>
                    <a href="#"><h3 style="font-weight: 600; font-size: 20px">ACCORDING TO THE CEO OF FLG VIETNAM - THE PARENT COMPANY OF CALIFORNIA FITNESS & YOGA: “VIETNAM IS STILL AN INCREDIBLE PLACE FOR US TO EXPAND AND GROW”</h3></a>
                    <a href="#" class="more">Xem Thêm</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-link-img row">
                    <a href="#"><img src="image/blog/morenew2.png"></a>
                </div>
                <div class="col-md-8 blog-link-video">
                    <a href="#"><div class="circle"></div>CỘNG ĐỒNG</a>
                    <span> 11/04/2020</span>
                    <a href="#"><h3 style="font-weight: 600; font-size: 20px">CEO FLG VIỆT NAM - DOANH NGHIỆP SỞ HỮU CHUỖI PHÒNG TẬP CALIFORNIA FITNESS & YOGA CHIA SẺ GIỮA MÙA DỊCH: “TÔI VẪN LUÔN TIN VIỆT NAM LÀ NƠI TUYỆT VỜI ĐỂ PHÁT TRIỂN VÀ MỞ RỘNG KINH DOANH”</h3></a>
                    <a href="#" class="more">Xem Thêm</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-link-img row">
                    <a href="#"><img src="image/blog/morenew3.png"></a>
                </div>
                <div class="col-md-8 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span>01/04/2020</span>
                    <a href="#"><h3 style="font-weight: 600; font-size: 20px">CẬP NHẬT QUAN TRỌNG VỀ HOẠT ĐỘNG CỦA CLB TRÊN TOÀN QUỐC</h3></a>
                    <a href="#" class="more">Xem Thêm</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-link-img row">
                    <a href="#"><img src="image/blog/morenew4.jpg"></a>
                </div>
                <div class="col-md-8 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span>26/03/2020</span>
                    <a href="#"><h3 style="font-weight: 600; font-size: 20px">CẬP NHẬT QUAN TRỌNG VỀ HOẠT ĐỘNG CỦA CLB Ở HÀ NỘI</h3></a>
                    <a href="#" class="more">Xem Thêm</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-link-img row">
                    <a href="#"><img src="image/blog/morenew5.jpg"></a>
                </div>
                <div class="col-md-8 blog-link-video">
                    <a href="#"><div class="circle"></div>TIN TỨC & SỰ KIỆN</a>
                    <span>24/03/2020</span>
                    <a href="#"><h3 style="font-weight: 600; font-size: 20px">CẬP NHẬT QUAN TRỌNG VỀ HOẠT ĐỘNG CỦA CLB Ở TP.HỒ CHÍ MINH</h3></a>
                    <a href="#" class="more">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="contain-background-img">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <div class="wrap-resign">
                        <div class="title-resign text-center">
                            <h2>Tự do khám phá không gian</h2>
                            <h1>PHÒNG TẬP GYM VÀ YOGA 5☆</h1>
                        </div>
                        <div class="underlined-title"></div>
                        <div class="wrap-content-in-resign text-center">
                            <h3>ĐĂNG KÝ TẬP THỬ MIỄN PHÍ</h3>
                            <h4>Để lại thông tin bên dưới để nhận ưu đãi và tư vấn<br>
                                từ các chuyên gia trong vòng 24h.</h4>
                            <div  class="col-md-12 wrap-input text-center">
                                <form class="form-group" name="form" action="#" method="post">
                                    <div class="input-group set-margin">
                                        <span class="input-group-addon set-backgrond-color"><i class="fas fa-user"></i></span>
                                        <input id="name" type="text" class="form-control set-height-input" name="name" placeholder="Họ Tên">
                                    </div>
                                    <div class="input-group set-margin">
                                        <span class="input-group-addon set-backgrond-color"><i class="fas fa-phone-square"></i></span>
                                        <input id="phone" type="text" class="form-control set-height-input" name="phone" placeholder="Số Điện Thoại">
                                    </div>
                                    <div class="input-group set-margin">
                                        <span class="input-group-addon set-backgrond-color"><i class="fas fa-map-marker-alt"></i></span>
                                        <select class="form-control set-height-input" name="location">
                                            <option>Chọn khu vực bạn sống</option>
                                            <option>TP.Hồ Chí Minh</option>
                                            <option>TP.Hà Nội</option>
                                            <option>TP.Biên Hoà</option>
                                            <option>TP.Bình Dương</option>
                                            <option>Đà Nẵng</option>
                                            <option>Nha Trang</option>
                                            <option>Cần Thơ</option>
                                            <option>Vũng Tàu</option>
                                        </select>
                                    </div>
                                    <div class="wrap-btn">
                                        <button type="submit" name="submit" class="btn btn-danger format-btn-resign btn-color-red">Đăng Kí Ngay</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("footer") %>
</body>
</html>