<footer class="footer">
    <div class="wrap-footer col-md-12 col-sm-12">
        <div class="row wrap-content-footer">
            <div class="col-md-3 col-sm-12">
                <div class="text-left">
                    <h3>LIÊN KẾT</h3>
                </div>
                <ul class="ul">
                    <li class="text-left wrap-item-footer"><a href="#">Góp Ý Phản Hồi </a></li>
                    <li class="text-left wrap-item-footer"><a href="#">Điều Hạn Sử Dụng</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">Chính Sách Bảo Mật</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-left">
                    <h3>DỊCH VỤ</h3>
                </div>
                <ul class="ul">
                    <li class="text-left wrap-item-footer"><a href="#">Giảm  Căng Cơ</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">Dance</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">Yoga</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">HLV Cá Nhân</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">PTX</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">Kickfit/MMA</a></li>
                    <li class="text-left wrap-item-footer"><a href="#">Giảm Cân</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-left">
                    <h3>HOTLINE</h3>
                </div>
                <div class="text-left">
                    <div class="hotline">
                        <a href="tel:18006995">1800 6995</a>
                    </div>
                    <br>
                    <div class="wrap-icons">
                        <a href="#" class="icon-footer icon-fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon-footer icon-youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <div class="slogan">&copy; California Fitness & Yoga 2020 </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 set-border-for-resign">
                <div class="warp-form-resign">
                    <h4>ĐĂNG KÍ TẬP THỬ</h4>
                    <div class="wrap-input">
                        <form action="#" method="POST" class="form-group">
                            <div class="input-group set-margin">
                                <span class="input-group-addon set-backgrond-color"><i class="fas fa-user"></i></span>
                                <input id="name-footer" type="text" class="form-control set-height-input" name="name" placeholder="Họ Tên" data-error="Thông tin bắt " required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="input-group set-margin">
                                <span class="input-group-addon set-backgrond-color"><i class="fas fa-phone-square"></i></span>
                                <input id="phone-footer" type="text" class="form-control set-height-input" name="phone" placeholder="Số Điện Thoại" data-error="Thông tin bắt " required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="wrap-btn">
                                <button type="submit" name="submit" class="btn btn-danger format-btn-resign btn-color-red"><a>Đăng Kí Ngay</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>