<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %>
    <link rel="stylesheet" type="text/css" href="css/viet.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <title>Trang chủ</title>
</head>
<body>
    <%- include("header") %>
    <section class="main">
        <div class="content">

            <div class="wrap">
                <div class="banner">
                    <div class="theme-default">
                        <div id="slider" class="nivoSlider">
                            <a href="#"><img src="image/banners/baner1.jpg" alt="anh"/></a>
                            <a href="#"><img src="image/banners/baner2.jpg" alt="anh"/></a>
                            <a href="#"><img src="image/banners/baner3.jpg" alt="anh" style="height: 100%;"/></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="title-of-list-service" style="margin-top: 80px"><h3>Các dịch vụ luyện tập và<br>
                        những cách giảm cân hiệu quả</h3></div>
                <div class="underlined-title-list-service"></div>
                <div class="wrap-all-list-service" >
                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh1.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">HUẤN LUYỆN CÁ NHÂN</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh2.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">YOGA</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>
                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh3.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">GIẢM CÂN</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh4.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">DANCE</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh5.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">GIẢM CĂNG CƠ</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh6.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">KICKFIT</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="title-of-list-service">
                    <h3>Tìm trung tâm thể hình gần bạn nhất</h3>
                    <div class="content-under-title">
                        <p>Hiện chúng tôi đã có mặt trên<b> 7 thành phố</b> lớn trên khắp Việt Nam, hãy chọn trung tâm phù hợp nhất để bắt đầu tập luyện với cách giảm cân nhanh nhất của chúng tôi hoặc khám phá thêm về những trung tâm sắp mở cửa gần nơi bạn sống</p>
                    </div>
                </div>
                <div class="underlined-title-list-service"></div>
                <div class="wrap-all-img-place">
                    <div id="towCol1" class="img-of-place ">
                        <img src="image/viet/anh2.1.jpg" alt="anh21"/>
                    </div>
                    <div id="towCol2" class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.2.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>HO CHI MINH CITY</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.3.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.4.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>HA NOI</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.5.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.6.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>DA NANG</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.7.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>BINH DUONG</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.8.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.9.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>BIEN HOA</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.10.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.11.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.12.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>NHA TRANG</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.13.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.14.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>CAN THO</h3></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="title-of-list-service">
                    <h3>Gặp gỡ những chuyên gia thể hình hàng đầu</h3>
                    <div class="content-under-title">
                        <p>Dù bạn yêu thích Yoga, đâm mê bộ môn Dance đầy sôi động, hay môn võ MMA cực mạnh mẽ. Bạn sẽ luôn được hướng dẫn bởi những chuyên gia hàng đầu</p>
                    </div>
                    <div class="underlined-title-list-service"></div>
                </div>
                <div class="main-content">
                    <div class="all-profile">
                        <div class="pt-profile" id="profile-1">
                            <div class="pt-img">
                                <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/home/new-home/trainer-1.jpg?v=0.1" alt="profile-img-1">
                            </div>

                            <div class="scroll-profile-content">
                                <div class="profile-content">
                                    <div class="name-title">
                                        <div class="name"><strong>TIỂU PHƯƠNG</strong></div>
                                        <div class="title">CHUYÊN GIA THỂ HÌNH</div>
                                    </div>
                                    <div class="quote">
                                        <ul>
                                            <li>Chứng nhận từ Học Viện Y Học Thể Thao Quốc Gia (NASM) Hoa Kỳ.</li>
                                            <li>Hơn 10 năm kinh nghiệm thay đổi thể hình, từng trực tiếp huấn luyện cho nhiều ngôi sao.</li>
                                            <li>Gặt hái nhiều thành tích về Marathon: hoàn thành đường chạy 42km trong 5 tiếng tại giải giải Danang International Marathon 2015, 42km địa hình trong 10 tiếng giải Vietnam Mountain Marathon 2015 diễn ra ở Sapa (Lào Cai), chặng 42km trong 6 tiếng tại giải Lăng Cô Marathon.</li>
                                        </ul>
                                    </div>
                                    <div class="scroll"></div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-profile" id="profile-2">
                            <div class="pt-img">
                                <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/trainers/trainer-4.png" alt="profile-img-2">
                            </div>

                            <div class="scroll-profile-content">
                                <div class="profile-content">
                                    <div class="name-title">
                                        <div class="name"><strong>RODRIGO</strong></div>
                                        <div class="title">HLV GROUPX</div>
                                    </div>
                                    <div class="quote">
                                        <ul>
                                            <li>19 năm kinh nghiệm huấn luyện các lớp thể dục nhóm GroupX.</li>
                                            <li>Cử nhân ngành Giáo dục thể chất và thể thao.</li>
                                            <li>Chứng chỉ Les Mills Quốc tế.</li>
                                            <li>Giảng dạy các bộ môn: RPM, BodyPump, Core Fit, Step & Core, Cycling, HiiT Cycle, Bums N Tums, Shape Up, TRX.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-profile" id="profile-3">
                        <div class="pt-img">
                            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/home/new-home/trainer-3.jpg?v=0.1" alt="profile-img-3">
                        </div>

                        <div class="scroll-profile-content">
                            <div class="profile-content">
                                <div class="name-title">
                                    <div class="name"><strong>BRAD TRAN</strong></div>
                                    <div class="title">CHUYÊN GIA THỂ HÌNH</div>
                                </div>
                                <div class="quote">
                                    <ul>
                                        <li>Chứng nhận từ Học Viện Y Học Thể Thao Quốc Gia (NASM) Hoa Kỳ.</li>
                                        <li>Hạng 3 cuộc thi Musclecontest Vietnam 2018 Hạng 8 Men Physique Musclecontest Philippines.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-profile" id="profile-4">
                        <div class="pt-img">
                            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/trainers/trainer-1.jpg" alt="profile-img-4">
                        </div>

                        <div class="scroll-profile-content">
                            <div class="profile-content">
                                <div class="name-title">
                                    <div class="name"><strong>NETO AMORI</strong></div>
                                    <div class="title">HLV GROUPX</div>
                                </div>
                                <div class="quote">
                                    <ul>
                                        <li>HLV quốc tế kỳ cựu Lesmills Brazil các bộ môn: Bodycombat, Bodypump, Bodystep, RPM, BodyAttack, Bodybalance, BodyVive, PowerJump.</li>
                                        <li>19 năm kinh nghiệm. HLV Zumbaa tại California Fitness & Yoga Centers.</li>
                                        <li>Tham gia vô số buổi trình diễn Aerobic, Dance & Rhythm, Hip Hop tại Brazil.</li>
                                        <li>Choreographer các chương trình tại Việt Nam và Châu Á (PowerX, Pop Dance, Killer Cycle, Pop Kids).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="parent">
                        <a href="#" class="btn btn-danger"><div class="resign">ĐĂNG KÝ NGAY >></div></a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer class="footer">
        <div class="">
            <div class="member">
                <h2 style="text-align: center">CÁC HỘI VIÊN NỔI TIẾNG </h2>
                <p style="text-align: center">Chúng tôi luôn là lựa chọn hàng đầu cho các chính trị gia, ngôi sao giải trí, người mẫu thời trang và doanh nhân khi họ bắt đầu tập luyện.</p>
                <hr class="line">

                <div class="ad col-md-12">
                    <div class="col col-md-3">
                        <div class="ad1">
                            <a href="#"><img src="image/kiduyen.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#">KỲ DUYÊN</a> <br>
                                Hoa Hậu
                            </div>
                        </div>

                        <div class="ad2">
                            <a href="#"><img src="image/vucattuong.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#">VŨ CÁT TƯỜNG</a><br>
                                Ca sĩ
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="ad1">
                            <a href="#"><img src="image/phamhuong.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#"> PHẠM HƯƠNG </a><br>
                                Hoa Hậu
                            </div>
                        </div>
                        <div class="ad2">
                            <a href="#"><img src="image/diemmy.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#"> DIỄM MY </a><br>
                                Diễn viên
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="ad1">
                            <a href="#"><img src="image/guidhem.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#"> MARCUS GUIDHEM</a><br>
                                Người mẫu
                            </div>
                        </div>
                        <div class="ad2">
                            <a href="#"><img src="image/huonggiang.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#"> HƯƠNG GIANG</a><br>
                                Người mẫu
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="ad1">
                            <a href="#"><img src="image/phuongmai.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#"> PHƯƠNG MAI</a><br>
                                Người mẫu
                            </div>
                        </div>
                        <div class="ad2">
                            <a href="#"><img src="image/hovinhkhoa.png" height="150" width="150"/></a>
                            <div class="cmt">
                                <a href="#"> HỒ VĨNH KHOA</a><br>
                                Người mẫu/Ca sĩ
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="f2">
                BÀI VIẾT HỮU ÍCH NHẤT
                <br>
                <hr class="redline">
            </div>
            <div class="f3 col-md-12">
                <div class="ds">
                    <ul class="wrap-news-list col-md-4">
                        <li><span><a href="https://lifestyle.cfyc.com.vn/4-tu-the-yoga-don-gian-giup-teen-tang-chieu-cao-moi-ngay-p2d1374.html" target="_blank">4 tư thế yoga đơn giản giúp teen tăng chiều cao mỗi ngày</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/5-tu-the-yoga-nang-cao-cho-vong-2-thu-hut-p2d1165.html" target="_blank">5 Tư thế Yoga Nâng Cao giúp giảm mỡ bụng trong 7 ngày</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/8-dieu-can-biet-ve-bo-mon-kickfit-p2d2326.html" target="_blank">8 điều cần biết về bộ môn Kickfit</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/bi-quyet-duong-da-cang-min-trang-hong-khi-mang-bau-cua-a-hau-diem-trang-p2d1383.html" target="_blank">Bí quyết dưỡng da căng mịn, trắng hồng khi mang bầu “siêu dễ” của Á hậu Diễm Trang</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/bi-quyet-giam-4-kg-trong-10-ngay-nho-ca-chua-p2d1230.html" target="_blank">Bí quyết giảm 4kg trong 10 ngày nhờ cà chua</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/giup-teen-tang-chieu-cao-moi-ngay-voi-bai-tap-5-phut-moi-sang-p2d1365.html" target="_blank">Giúp teen tăng chiều cao với bài tập 5 phút mỗi sáng ngay tại nhà</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/ly-giai-3-thuat-ngu-quen-thuoc-cua-mon-yoga-p2d521.html" target="_blank">Yoga, Namaste & Ommm: Lý giải 3 thuật ngữ quen thuộc của môn Yoga</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/nhay-day-dung-cach-dot-mo-tuc-thi-p2d1519.html" target="_blank">Nhảy dây đúng cách - Đốt mỡ tức thì</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/tabata-bt-sieu-hieu-qua-cho-nguoi-ban-ron-p2d1322.html" target="_blank">Tabata - bài tập 4 phút diệu kỳ giúp giảm cân cho người bận rộn</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/tai-sao-phai-xa-co-truoc-khi-siet-co-de-so-huu-than-hinh-chuan-6-mui-p2d2564.html" target="_blank">Tại sao phải xả cơ trước khi siết cơ để sở hữu thân hình chuẩn 6 múi?</a></span></li>
                    </ul>
                    <ul class="wrap-news-list col-md-4">
                        <li><span><a href="https://www.cfyc.com.vn/giam-can/loi-ich-giam-can-sau-sinh.html" target="_blank">4 cách Giảm Cân Sau Sinh Mổ Hiệu Quả trong 4 Tuần Tại Nhà</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/5-dong-tac-squat-tu-de-den-kho-cai-thien-vong-3-lep-kep-p2d1351.html" target="_blank">Squat là gì? 5 bài tập Squat từ dễ đến khó cải thiện vòng 3, tập tại nhà</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/thuc-don-1-tuan-cho-co-nang-muon-giam-can-nhanh-p2d262.html" target="_blank">Thực Đơn 1 Tuần Cho Cô Nàng Muốn Giảm Cân Nhanh</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/mma/loi-ich-kickfit.html" target="_blank">Giảm cân và rèn luyện phản xạ tự vệ với Kickfit</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/dance/loi-ich-sexy-dance.html" target="_blank">Sở hữu thân hình nóng bỏng với Sexy Dance</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/group/loi-ich-the-duc-nhom.html" target="_blank">Lợi ích của tập thể dục nhóm</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/yoga/loi-ich-yoga.html" target="_blank">Yoga là gì? Nghìn lý do bạn nên tập yoga</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/yoga/lop-hoc-yoga.html" target="_blank">Lớp Học Yoga</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/hoc-nguoi-nhat-3-dong-tac-matxa-sieu-de-de-tang-kich-thuoc-vong-1-p2d1331.html" target="_blank">Học người Nhật 3 cách matxa siêu đơn giản tăng kích thước vòng 1 hiệu quả</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/yoga/trung-tam-yoga.html" target="_blank">Tập Yoga ở đâu tại TP. HCM</a></span></li>
                    </ul>
                    <ul class="wrap-news-list col-md-4">
                        <li><span><a href="https://www.cfyc.com.vn/3-bai-tap-yoga-giam-can-nhanh.html" target="_blank">3 bài tập yoga giảm cân nhanh nhất</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/an-chuoi-tang-can-hay-giam-can-p2d1414.html" target="_blank">Ăn chuối giảm cân hay tăng cân?</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/cac-thuat-ngu-hay-dung-khi-di-tap-gym-p2d2375.html" target="_blank">Các thuật ngữ hay dùng khi đi tập gym</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/che-do-an-cho-nguoi-tap-gym-nap-bao-nhieu-la-du-p2d2446.html" target="_blank">Chế độ ăn cho người tập gym: nạp bao nhiêu là đủ?</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/lam-sao-de-giam-mo-bung-duoi-p2d2207.html" target="_blank">Làm sao để giảm mỡ bụng dưới?</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/squat-khong-co-loi-loi-la-do-tap-sai-p2d1227.html" target="_blank">3 Sai lầm mà 99% người tập Squat đều mắc phải, hãy Squat đúng cách</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/squat-la-gi-co-bao-nhieu-dong-tac-squat-ban-can-biet-p2d2483.html" target="_blank">Squat là gì? Có bao nhiêu động tác Squat bạn cần biết?</a></span></li>
                        <li><span><a href="https://lifestyle.cfyc.com.vn/thuc-don-1-tuan-cho-nguoi-muon-tang-can-p2d319.html" target="_blank">Thực Đơn 1 Tuần Cho Người Muốn Tăng Cân</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/giam-can/bi-quyet-giam-can.html" target="_blank">50 bí quyết giảm cân không mất sức, hiệu quả trong 1 tuần tại nhà</a></span></li>
                        <li><span><a href="https://www.cfyc.com.vn/giam-can/giam-can-nhanh-moi-nguoi.html" target="_blank">4 cách Giảm Cân Nhanh Hiệu Quả An Toàn cho Mọi Người</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="f2">
                ƯU ĐÃI ĐẶC BIỆT
                <br>
                <hr class="redline">
            </div>
        </div>
    </footer>
    <%- include("footer") %>
<script type="text/javascript" src="Js/index1.js"></script>
</body>
</html>