<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %>
    <link rel="stylesheet" type="text/css" href="css/viet.css">
    <title>Trang chủ</title>
</head>
<body>
    <%- include("header") %>
    <section class="main">
        <div class="content">

            <div class="wrap">
                <div class="banner">
                    <div class="theme-default">
                        <div id="slider" class="nivoSlider">
                            <a href="#"><img src="image/banners/baner1.jpg" alt="anh"/></a>
                            <a href="#"><img src="image/banners/baner2.jpg" alt="anh"/></a>
                            <a href="#"><img src="image/banners/baner3.jpg" alt="anh" style="height: 100%;"/></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="title-of-list-service" style="margin-top: 80px"><h3>Các dịch vụ luyện tập và<br>
                        những cách giảm cân hiệu quả</h3></div>
                <div class="underlined-title-list-service"></div>
                <div class="wrap-all-list-service" >
                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh1.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">HUẤN LUYỆN CÁ NHÂN</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh2.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">YOGA</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>
                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh3.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">GIẢM CÂN</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh4.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">DANCE</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh5.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">GIẢM CĂNG CƠ</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>

                    <div class="wrap-link-service">
                        <a href="#" class="link-service">
                            <div class="wrap-img">
                                <img src="image/viet/anh6.jpg">
                            </div>
                            <div class="override-img">
                                <h2 class="img-title">KICKFIT</h2>
                            </div>
                            <div class="background-red"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="title-of-list-service">
                    <h3>Tìm trung tâm thể hình gần bạn nhất</h3>
                    <div class="content-under-title">
                        <p>Hiện chúng tôi đã có mặt trên<b> 7 thành phố</b> lớn trên khắp Việt Nam, hãy chọn trung tâm phù hợp nhất để bắt đầu tập luyện với cách giảm cân nhanh nhất của chúng tôi hoặc khám phá thêm về những trung tâm sắp mở cửa gần nơi bạn sống</p>
                    </div>
                </div>
                <div class="underlined-title-list-service"></div>
                <div class="wrap-all-img-place">
                    <div id="towCol1" class="img-of-place ">
                        <img src="image/viet/anh2.1.jpg" alt="anh21"/>
                    </div>
                    <div id="towCol2" class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.2.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>HO CHI MINH CITY</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.3.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.4.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>HA NOI</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.5.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.6.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>DA NANG</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.7.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>BINH DUONG</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.8.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.9.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>BIEN HOA</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.10.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.11.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.12.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>NHA TRANG</h3></div>
                        </a>
                    </div>
                    <div class="img-of-place">
                        <img src="image/viet/anh2.13.jpg" alt="anh21"/>
                    </div>
                    <div class="img-of-place">
                        <a href="#" class="link-service">
                            <img src="image/viet/anh2.14.jpg" alt="anh21"/>
                            <div class="text-over-img"><h3>CAN THO</h3></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="title-of-list-service">
                    <h3>Gặp gỡ những chuyên gia thể hình hàng đầu</h3>
                    <div class="content-under-title">
                        <p>Dù bạn yêu thích Yoga, đâm mê bộ môn Dance đầy sôi động, hay môn võ MMA cực mạnh mẽ. Bạn sẽ luôn được hướng dẫn bởi những chuyên gia hàng đầu</p>
                    </div>
                    <div class="underlined-title-list-service"></div>
                </div>
                <div class="main-content">
                    <div class="all-profile">
                        <div class="pt-profile" id="profile-1">
                            <div class="pt-img">
                                <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/home/new-home/trainer-1.jpg?v=0.1" alt="profile-img-1">
                            </div>

                            <div class="scroll-profile-content">
                                <div class="profile-content">
                                    <div class="name-title">
                                        <div class="name"><strong>TIỂU PHƯƠNG</strong></div>
                                        <div class="title">CHUYÊN GIA THỂ HÌNH</div>
                                    </div>
                                    <div class="quote">
                                        <ul>
                                            <li>Chứng nhận từ Học Viện Y Học Thể Thao Quốc Gia (NASM) Hoa Kỳ.</li>
                                            <li>Hơn 10 năm kinh nghiệm thay đổi thể hình, từng trực tiếp huấn luyện cho nhiều ngôi sao.</li>
                                            <li>Gặt hái nhiều thành tích về Marathon: hoàn thành đường chạy 42km trong 5 tiếng tại giải giải Danang International Marathon 2015, 42km địa hình trong 10 tiếng giải Vietnam Mountain Marathon 2015 diễn ra ở Sapa (Lào Cai), chặng 42km trong 6 tiếng tại giải Lăng Cô Marathon.</li>
                                        </ul>
                                    </div>
                                    <div class="scroll"></div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-profile" id="profile-2">
                            <div class="pt-img">
                                <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/trainers/trainer-4.png" alt="profile-img-2">
                            </div>

                            <div class="scroll-profile-content">
                                <div class="profile-content">
                                    <div class="name-title">
                                        <div class="name"><strong>RODRIGO</strong></div>
                                        <div class="title">HLV GROUPX</div>
                                    </div>
                                    <div class="quote">
                                        <ul>
                                            <li>19 năm kinh nghiệm huấn luyện các lớp thể dục nhóm GroupX.</li>
                                            <li>Cử nhân ngành Giáo dục thể chất và thể thao.</li>
                                            <li>Chứng chỉ Les Mills Quốc tế.</li>
                                            <li>Giảng dạy các bộ môn: RPM, BodyPump, Core Fit, Step & Core, Cycling, HiiT Cycle, Bums N Tums, Shape Up, TRX.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-profile" id="profile-3">
                        <div class="pt-img">
                            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/home/new-home/trainer-3.jpg?v=0.1" alt="profile-img-3">
                        </div>

                        <div class="scroll-profile-content">
                            <div class="profile-content">
                                <div class="name-title">
                                    <div class="name"><strong>BRAD TRAN</strong></div>
                                    <div class="title">CHUYÊN GIA THỂ HÌNH</div>
                                </div>
                                <div class="quote">
                                    <ul>
                                        <li>Chứng nhận từ Học Viện Y Học Thể Thao Quốc Gia (NASM) Hoa Kỳ.</li>
                                        <li>Hạng 3 cuộc thi Musclecontest Vietnam 2018 Hạng 8 Men Physique Musclecontest Philippines.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-profile" id="profile-4">
                        <div class="pt-img">
                            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/trainers/trainer-1.jpg" alt="profile-img-4">
                        </div>

                        <div class="scroll-profile-content">
                            <div class="profile-content">
                                <div class="name-title">
                                    <div class="name"><strong>NETO AMORI</strong></div>
                                    <div class="title">HLV GROUPX</div>
                                </div>
                                <div class="quote">
                                    <ul>
                                        <li>HLV quốc tế kỳ cựu Lesmills Brazil các bộ môn: Bodycombat, Bodypump, Bodystep, RPM, BodyAttack, Bodybalance, BodyVive, PowerJump.</li>
                                        <li>19 năm kinh nghiệm. HLV Zumbaa tại California Fitness & Yoga Centers.</li>
                                        <li>Tham gia vô số buổi trình diễn Aerobic, Dance & Rhythm, Hip Hop tại Brazil.</li>
                                        <li>Choreographer các chương trình tại Việt Nam và Châu Á (PowerX, Pop Dance, Killer Cycle, Pop Kids).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="parent">
                        <a href="#" class="btn btn-danger"><div class="resign">ĐĂNG KÝ NGAY >></div></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <%- include("footer") %>
<script type="text/javascript" src="Js/index1.js"></script>
</body>
</html>