<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %>
    <link rel="stylesheet" type="text/css" href="css/viet.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/service.css">
    <title>Dịch vụ</title>
</head>
<body>
<%- include("header") %>

<section class="section">
    <div class="service-all">
        <div class="container" id="con1">
            <div class="service-header">
                <div class="service-header-left">
                    <div class="service-header-text">
                        <small class="service-header-left-1">BẠN ĐÃ BIẾT ĐẾN</small>
                        <p class="service-header-left-2">GROUPX ?</p>
                    </div>
                    <div class="service-header-inline"></div>
                    <div class="service-header-content">
                        <p>Chương trình tập luyện theo nhóm cập nhật các phương pháp thể hình mới nhất từ Lesmills và thiết kế độc quyền bởi California giúp bạn nhanh chóng sở hữu hình thể nóng bỏng</p>
                    </div>
                    <div class="servicer-header-img">
                        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/banner-offer.png?v=0.3" alt=""/>
                    </div>
                    <a href="#" class="service-clicker"><div class="service-sign-up">THAM GIA NGAY</div></a>
                </div>
            </div>
        </div>

        <div class="container" id="con5">
            <div class="vid"><iframe width="560" height="315" src="https://www.youtube.com/embed/bcJvvH-zTno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="service-vid-text">
                <p class="service-vid-text-1">VÌ SAO BẠN NÊN THAM GIA</p>
                <p class="service-vid-text-2">GROUP-X?</p>
                <ul>
                    <li>Bạn mới bắt đầu và không biết nên tập gì?</li>
                    <li>Bạn ngại khi phải tập một mình?</li>
                    <li>Bạn cảm thấy chán nản với việc tập máy thông thường?</li>
                </ul>
                <div class="spec"><p>GROUP X LÀ LỰA CHỌN HOÀN HẢO DÀNH CHO BẠN</p></div>
            </div>
            <a href="#" class="more-info"><div class="service-sign-up" id="service-sign-up-1">tìm hiểu thêm về lớp thể dục nhóm quốc tế</div></a>
        </div>

        <div class="container" id="con7">
            <div class="service-sport">
                <div class="service-result-title">
                    <p>KHÁM PHÁ BỘ MÔN</p>
                    <p>PHÙ HỢP VỚI MỤC TIÊU CỦA BẠN</p>
                </div>
                <div class="service-sport-profile" id="sport-profile-1">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-1.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>BODY PUMP</p></div>
                            <p class="overlayer-text-2">KẺ HUỶ DIỆT CALORIES</p>
                            <p class="overlayer-text-3">Sự kết hợp hoàn hảo giữa tập luyện với tạ cùng âm nhạc, Body Pump rất thích hợp dành cho những ai muốn giảm mỡ & và tăng cơ nhanh chóng ở vùng bắp tay – đùi – eo.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 800 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile"  id="sport-profile-2">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-2.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>BODY COMBAT</p></div>
                            <p class="overlayer-text-2">TĂNG KHẢ NĂNG TỰ VỆ</p>
                            <p class="overlayer-text-3">Nếu như bạn là người đam mê võ thuật thì không thể bỏ qua lớp Body Combat – được lấy cảm hứng từ Boxing, Taekwondo, Muay Thái, bộ môn vừa giúp bạn đốt mỡ nhanh vừa tăng kỹ năng tự vệ.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 600 – 700 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile"  id="sport-profile-3">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-4.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>CALIRIDE - RPM</p></div>
                            <p class="overlayer-text-2">ĐẠP XE ĐỊA HÌNH ẢO</p>
                            <p class="overlayer-text-3">Nếu bạn muốn giảm mỡ nhanh ở toàn bộ thân dưới thì Cali Ride chính là bộ môn dành cho bạn. Cơ mông khi đạp xe sẽ được gồng chặt giúp bạn nhanh chóng sở hữu vòng 3 quả táo.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 500 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile"  id="sport-profile-4">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-5.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>BODY BALANCE</p></div>
                            <p class="overlayer-text-2">TĂNG SỰ DẺO DAI</p>
                            <p class="overlayer-text-3">Body Balance với âm nhạc êm dịu chính là lựa chọn hiệu quả nếu như bạn mới bắt đầu đến phòng tập. Bộ môn giúp nâng cao dần sức bền và cải thiện khả năng thăng bằng cho cơ thể.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 390 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile"  id="sport-profile-5">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-6.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>ZUMBA</p></div>
                            <p class="overlayer-text-2">ĐỐT MỠ NHANH CHÓNG</p>
                            <p class="overlayer-text-3">Zumba huy động tất cả các bộ phận trong cơ thể bạn chuyển động liên tục trên nền nhạc Latin sôi động, tim bạn sẽ đập nhanh hơn, thúc đẩy quá trình chuyển hoá năng lượng.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 700 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile"  id="sport-profile-6">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-7.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>POLE FIT</p></div>
                            <p class="overlayer-text-2">QUYẾN RŨ KHÔNG NGỜ</p>
                            <p class="overlayer-text-3">Với Pole Fit, bạn phải sử dụng nhiều lực tay – chân để chuyển động điêu luyện trên không. Nếu bạn là người ưa mạo hiểm, đừng bỏ lỡ lớp múa cột độc quyền tại California</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 500 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile" id="sport-profile-7">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-3.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>BODY JAM</p></div>
                            <p class="overlayer-text-2">VŨ ĐIỆU TỰ DO</p>
                            <p class="overlayer-text-3">Body Jam hướng bạn đến sự vận động thoải mái, không gò bó. Nếu bạn muốn giảm cân và chưa từng thử qua lớp học nhảy nào thì Body Jam chính là lựa chọn hoàn hảo dành cho bạn.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 550 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <div class="service-sport-profile" id="sport-profile-8">
                    <img class="service-sport-profile-img" src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/class-8.png?v=0.3" alt=""/>
                    <div class="overlayer">
                        <div class="overlayer-text">
                            <div class="overlayer-text-1"><p>CX WORK</p></div>
                            <p class="overlayer-text-2">PHÁT TRIỂN CƠ TRUNG TÂM</p>
                            <p class="overlayer-text-3">Chỉ trong 30 phút luyện tập, bạn sẽ trải qua những thử thách từ dễ đến khó với các bài tập sử dụng trọng lượng cơ thể, dùng bánh tạ và dây kháng lực,... Bộ môn hỗ trợ tốt cho các nhóm cơ bụng – lưng – đùi.</p>
                            <p class="overlayer-text-4"><i>Đốt cháy 250 cal/giờ</i></p>
                        </div>
                    </div>
                </div>
                <a href="#" class="service-clicker" id="trial"><div class="service-sign-up">ĐĂNG KÝ TẬP THỬ</div></a>
            </div>
        </div>

        <div class="container" id="con2">
            <div class="service-result">
                <div class="service-result-title">
                    <p>kết quả sau 3 tháng</p>
                    <p>tham gia groupx</p>
                </div>
                <div class="service-result-tab">
                    <div class="service-result-tab-img">
                        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/result-1.png?v=0.3">
                    </div>
                    <div class="service-result-tab-quote">
                        <ul>
                            <li>Nhức mỏi toàn bộ cơ thể</li>
                            <li>Thích nghi dần với nhịp độ</li>
                            <li>Cảm nhận lượng calories tiêu thụ rõ rệt sau mỗi buổi học</li>
                        </ul>
                    </div>
                </div>
                <div class="service-result-tab">
                    <div class="service-result-tab-img">
                        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/result-2.png?v=0.3">
                    </div>
                    <div class="service-result-tab-quote">
                        <ul>
                            <li>Cơ thể trở nên khoẻ khoắn, săn chắc hơn.</li>
                            <li>Tinh thần sảng khoái, cảm thấy bứt rứt khi không đến phòng tập</li>
                        </ul>
                    </div>
                </div>
                <div class="service-result-tab">
                    <div class="service-result-tab-img">
                        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/result-3.png?v=0.3">
                    </div>
                    <div class="service-result-tab-quote">
                        <ul>
                            <li>Đường cong cơ thể xuất hiện rõ rệt ở vùng ngực – eo - mông</li>
                            <li>Gia tăng cảm giác tự tin về hình thể</li>
                        </ul>
                    </div>
                    <div class="service-parent">
                        <a href="#" class="B"><div class="service-ads">LỢI ÍCH CỦA LỚP THỂ DỤC QUỐC TẾ</div></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="con3">
            <div class="main-content">
                <div class="service-result-title">
                    <p>Đội NGŨ HLV ĐƯỢC CHỨNG NHẬN</p>
                    <p>TỪ LESMILLS</p>
                </div>
                <div class="all-profile">
                    <div class="pt-profile" id="profile-1">
                        <div class="pt-img">
                            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/home/new-home/trainer-1.jpg?v=0.1" alt="profile-img-1">
                        </div>

                        <div class="scroll-profile-content">
                            <div class="profile-content">
                                <div class="name-title">
                                    <div class="name"><strong>TIỂU PHƯƠNG</strong></div>
                                    <div class="title">CHUYÊN GIA THỂ HÌNH</div>
                                </div>
                                <div class="quote">
                                    <ul>
                                        <li>Chứng nhận từ Học Viện Y Học Thể Thao Quốc Gia (NASM) Hoa Kỳ.</li>
                                        <li>Hơn 10 năm kinh nghiệm thay đổi thể hình, từng trực tiếp huấn luyện cho nhiều ngôi sao.</li>
                                        <li>Gặt hái nhiều thành tích về Marathon: hoàn thành đường chạy 42km trong 5 tiếng tại giải giải Danang International Marathon 2015, 42km địa hình trong 10 tiếng giải Vietnam Mountain Marathon 2015 diễn ra ở Sapa (Lào Cai), chặng 42km trong 6 tiếng tại giải Lăng Cô Marathon.</li>
                                    </ul>
                                </div>
                                <div class="scroll"></div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-profile" id="profile-2">
                        <div class="pt-img">
                            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/trainers/trainer-4.png" alt="profile-img-2">
                        </div>

                        <div class="scroll-profile-content">
                            <div class="profile-content">
                                <div class="name-title">
                                    <div class="name"><strong>RODRIGO</strong></div>
                                    <div class="title">HLV GROUPX</div>
                                </div>
                                <div class="quote">
                                    <ul>
                                        <li>19 năm kinh nghiệm huấn luyện các lớp thể dục nhóm GroupX.</li>
                                        <li>Cử nhân ngành Giáo dục thể chất và thể thao.</li>
                                        <li>Chứng chỉ Les Mills Quốc tế.</li>
                                        <li>Giảng dạy các bộ môn: RPM, BodyPump, Core Fit, Step & Core, Cycling, HiiT Cycle, Bums N Tums, Shape Up, TRX.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-profile" id="profile-3">
                    <div class="pt-img">
                        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/home/new-home/trainer-3.jpg?v=0.1" alt="profile-img-3">
                    </div>

                    <div class="scroll-profile-content">
                        <div class="profile-content">
                            <div class="name-title">
                                <div class="name"><strong>BRAD TRAN</strong></div>
                                <div class="title">CHUYÊN GIA THỂ HÌNH</div>
                            </div>
                            <div class="quote">
                                <ul>
                                    <li>Chứng nhận từ Học Viện Y Học Thể Thao Quốc Gia (NASM) Hoa Kỳ.</li>
                                    <li>Hạng 3 cuộc thi Musclecontest Vietnam 2018 Hạng 8 Men Physique Musclecontest Philippines.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-profile" id="profile-4">
                    <div class="pt-img">
                        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/trainers/trainer-1.jpg" alt="profile-img-4">
                    </div>

                    <div class="scroll-profile-content">
                        <div class="profile-content">
                            <div class="name-title">
                                <div class="name"><strong>NETO AMORI</strong></div>
                                <div class="title">HLV GROUPX</div>
                            </div>
                            <div class="quote">
                                <ul>
                                    <li>HLV quốc tế kỳ cựu Lesmills Brazil các bộ môn: Bodycombat, Bodypump, Bodystep, RPM, BodyAttack, Bodybalance, BodyVive, PowerJump.</li>
                                    <li>19 năm kinh nghiệm. HLV Zumbaa tại California Fitness & Yoga Centers.</li>
                                    <li>Tham gia vô số buổi trình diễn Aerobic, Dance & Rhythm, Hip Hop tại Brazil.</li>
                                    <li>Choreographer các chương trình tại Việt Nam và Châu Á (PowerX, Pop Dance, Killer Cycle, Pop Kids).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="con4">
            <div class="service-result-title">
                <p>KHÔNG GIAN TẬP LUYỆN TIỆN NGHI 5 SAO DÀNH CHO BẠN</p>
            </div>
            <div>
                <p class="quote1">Hơn cả môi trường tập luyện thông thường, bạn còn được thả lỏng cơ thể & thư giãn tâm trí tại phòng</p>
                <p class="quote1">xông hơi, bể sục Jacuzzi và chỉnh trang ra về tại khu vực makeup sang trọng.</p>
            </div>
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/fac-2.jpg?v=0.3"/>
                    <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/fac-3.jpg?v=0.3"/>
                    <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/fac-4.jpg?v=0.3"/>
                    <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/group-fitness-services/fac-5.jpg?v=0.3"/>
                </div>
            </div>
        </div>

        <div class="container" id="con6">
            <div class="service-footer">
                <div class="service-footer-title">
                    <h3 id="h31">SỞ HỮU HÌNH THỂ NÓNG BỎNG</h3>
                    <h3 id="h32">NHANH CHÓNG CÙNG GROUP X</h3>
                </div>
                <div class="service-footer-inline"></div>
                <div class="try">
                    <i><p>TẬP THỬ MIỄN PHÍ NGAY HÔM NAY</p></i>
                </div>
                <div class="service-footer-content">
                    <p style="color: white">Hãy để lại thông tin bên dưới để nhận ngay ưu đãi và tư vấn hoàn toàn miễn phí trong vòng 24h!</p>
                </div>
                <input class="w3-input" type="text" name="name" placeholder="Họ tên"/>
                <input class="w3-input" type="tel" name="phone-number" placeholder="Số ĐT"/>
                <select class="select-city w3-select">
                    <option value="-">Chọn khu vực bạn sống</option>
                    <option value="1">Hà Nội</option>
                    <option value="2">Hồ Chí Minh</option>
                    <option value="3">T.P Biên Hòa</option>
                    <option value="4">T.P Bình Dương</option>
                    <option value="5">Đà Nẵng</option>
                    <option value="6">Nha Trang</option>
                    <option value="7">Cần Thơ</option>
                    <option value="8">Vũng </option>Tàu
                </select>
                <a href="#" class="service-clicker"><div class="service-sign-up">THAM GIA NGAY</div></a>
            </div>
        </div>
    </div>
</section>

<%- include("footer") %>

</body>
</html>
