*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Light", serif;
    font-size: 15px;
}

.content{
    width: 100%;
}
.hd-container{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 80px;
    background: black;
    z-index: 1000;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.header{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
}
.header a{
    color: white;
    width: 100%;
    height: 100%;
}
.hd-logo{
    background: linear-gradient(to bottom right, #d92329, #b61f24, #6f0e11, black,black,black);
    width: 20%;
    height: 95%;
}


.menu{
    height: 100%;
    width: 60%;
}

.header .menu>.hd-list-menu,.hd-menu>a{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
}
.content .hd-list-menu{
    float: left;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 95%;
}
.hd-menu{
    font-size: 20px;
    margin: 0 15px;
    position: relative;
    font-weight: 400;
    height: 100%;
}
.Dropdown{
    display: none;
    border-top: 1px solid white;
    position: absolute;
    font-size: 18px;
    width: 150px;
    background-color: black;
    border-radius: 2px;
    z-index: 9;
}
.Dropdown li{
    height: 40px;
}
.Dropdown li a{
    padding-left: 15px;
    line-height: 40px;
    color: white;
}
.Dropdown li:hover{
    border-left: 2px solid red;
    background-image: linear-gradient(to right,black,red);
}
.hd-logo a img {
    width: 50%;
    margin-left: 50px;
    height: 100%;
}

.content{
    width: 100%;
}
.hd-container{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 80px;
    background: black;
    z-index: 1000;
}

.theme-default{
    margin-top: 70px;
}

.footer{
    width: 100%;
    margin: 50px 0;
}

footer .wrap-footer{
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-content-footer{
    width: 85%;
}

.wrap-footer h3{
    color: white;
    font-size: 1.5em;
}

.wrap-item-footer>a{
    color: #7b7b7b;
    font-size: 15px;
    font-weight: 600;
}

.wrap-content-footer{
    padding: 30px 0;
}

.wrap-item-footer>a:hover{
    color: whitesmoke;
    text-decoration: none;
}

.wrap-content-footer ul li{
    list-style: square;
    color: red;
    font-size: 20px;
}

.margin-bottom-footer{
    margin-bottom: 20px;
}

.footer .format-hotline{
    font-size: 2.5em;
    font-weight: 700;
    border-top: 2px solid #6c6c6c;
    border-bottom: 2px solid #6c6c6c;
    line-height: 2em;
    color: #dc2128;
    padding: 5px 0;
    letter-spacing: 5px;
}

.footer .wrap-icons{
    width: 50%;
    height: 60px;
}

.footer .icon-footer{
    border: 2px solid #6c6c6c;
    border-radius: 100%;
    float: left;
}

.footer .icon-fb{
    padding: 7px 14px;
    margin-right: 10px;
}

.footer .fa-facebook-f{
    font-size: 30px;
    color: #6c6c6c;
}

.footer .fa-youtube{
    font-size: 30px;
    color: #6c6c6c;
}
.footer .icon-youtube{
    padding: 7px;
}

.footer .icon-footer:hover{
    border: 2px solid red;
}

.footer .icon-footer:hover>.fa-facebook-f,.icon-footer:hover>.fa-youtube{
    color: red;
}

.footer p{
    font-size: 1em;
    font-weight: 600;
}

.footer .set-border-for-resign{
    border: 1px solid red;
    background-color: #303030;
}

.footer .warp-form-resign>h4{
    margin-left: 10%;
    line-height: 1.8em;
    font-size: 1.7em;
    color: #fff;
}

.footer .warp-form-resign>h4::after{
    content: "";
    width: 50px;
    height: 40px;
    display: inline-block;
    background: url("../image/viet/clubs/icon-free.png");
}

.footer .set-height-input,.main .set-height-input{
    height: 43px;
    font-size: 1.3em;
}

.footer .wrap-input .format-btn-resign{
    margin: 15px 0 !important;
}

.footer .form-group{
    margin: 0;
}

.footer .set-display-select{
    display: none;
}

.footer .input-group-addon,.main .input-group-addon{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: none !important;
}

.footer .form-control:focus,.main .form-control:focus{/*set border of input no change color when click*/
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-left: none !important;
    border-right: 1px solid #ccc !important;

}
.footer .form-control{
    border-left: none !important;
    box-shadow: none !important;
}
.fa-user,.fa-phone-square,.fa-map-marker-alt{
    color: #db2128;
    font-size: 1.3em;
    background-color: #fff;
}

.footer .wrap-input,.form-group .set-margin{
    margin: 10px 0;
}

.footer .wrap-input .format-btn-resign{
    font-size: 1.5em;
    margin: 20px;
    transition: all 500ms;
}
