.container-dv{
    text-align:  center;
}

section{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 100%;
}
.hd-container{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 80px;
    background: black;
    z-index: 1000;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.header{
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    position: relative;
}
.header a{
    color: white;
    width: 100%;
    height: 100%;
}
.hd-logo{
    background: linear-gradient(to bottom right, #d92329, #b61f24, #6f0e11, black,black,black);
    width: 20%;
    height: 95%;
}


.menu{
    height: 100%;
    width: 60%;
}

.header .menu>.hd-list-menu,.hd-menu>a{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
}
.content .hd-list-menu{
    float: left;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 95%;
}
.hd-menu{
    font-size: 20px;
    margin: 0 15px;
    position: relative;
    font-weight: 400;
    height: 100%;
}
.Dropdown{
    display: none;
    border-top: 1px solid white;
    position: absolute;
    font-size: 18px;
    width: 150px;
    background-color: black;
    border-radius: 2px;
    z-index: 9;
}
.Dropdown li{
    height: 40px;
}
.Dropdown li a{
    padding-left: 15px;
    line-height: 40px;
    color: white;
}
.Dropdown li:hover{
    border-left: 2px solid red;
    background-image: linear-gradient(to right,black,red);
}
.hd-logo a img{
    width: 50%;
    margin-left: 50px;
    height: 100%;
}
.banner{
    margin-top: 80px;
    max-height: 435px;
}
li a:hover{
    color: white;
    text-decoration: none;
}
.red{
    color: #db2128;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 400;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 20px auto;
}
.strike h2{
    position: relative;
    display: inline-block;
    color: #db2128;
    line-height: 1.3em;
    text-transform: uppercase;
}
.strike h2:before, .strike p:before{
    margin-right: 15px;
    right: 100%;
    top: 75%;
    width: 9999px;
    background: #e60000;
    height: 2px;
    content: "";
}
.strike h2:after, .strike h2:before{
    position: absolute;
}
.strike h2:after{
    left: 100%;
    margin-left: 15px;
}
.strike h2:after, .strike h2:before{
    top: 75%;
    width: 9999px;
    background: #e60000;
    height: 2px;
    content: "";
}
hr.short-red-line{
    width: 84px;
    height: 5px;
    background: #dc282f;
    margin: 0 auto;
}
.branch{
    margin-top: 40px;
}
.branch img{
    max-height: 140px;
    display: inline-block;
    padding-left: 10%;
}
.wrap-address {
    margin-bottom: 25px;
}
.wrap-address .adress-text {
    padding-left: 10px;
    border-left: 3px solid;
}
.wrap-address strong {
    font-size: 18px;
}
.ufc .wrap-address .adress-text {
    border-left-color: #d42027;
}
.yoga .wrap-address .adress-text {
    border-left-color: #0e76bc;
}
.cen .wrap-address .adress-text {
    border-left-color: #f1c20a;
}
.kid .wrap-address .adress-text {
    border-left-color: #f36f21;
}
.cool-btn-cta.btn-red {
    color: #fff;
    background-image: linear-gradient(to right,#e33a40 50%,#db2128 50%);
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.cool-btn-cta {
    background: linear-gradient(to right,#e8353c 50%,#e10000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    text-transform: uppercase;
    margin: 20px auto;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    transition: all .4s;
    line-height: 1;
    border: none;
    outline: 0;
}
.buttons a{
    text-decoration: none;
}
.buttons a.cool-btn-cta:hover{
    color: #000;
}


.selectcity > li{
    position: relative;
    border: solid 1px;
}
.cityname{
    display: none;
    position: absolute;
    border: solid 1px black;
    background-color: beige;
    z-index: 1000;
}
.cityname > li>a{
    color: #0f0f0f;
    text-decoration: none;
}
.cityname > li>a:hover{
}



.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #0f0f0f;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #d42027 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #d42027 transparent;
    top: 7px;
    height: 10px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #cccccc;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.quan .q img{
    width: 100%;
    height: 150px;
}
.q a img:hover{
    border: solid 4px red;
}
.tphcm{
    display: none;
}
.tphn{
    display: none;
}
.danang{
    display: none;
}
.note{
    margin-top: 20px;
    font-size: 15px;
    color: #0f0f0f;
}
.submenu{
    border: solid 1px black;
    margin: 0 35px;
    border-radius: 5px;
    background-color: #ffffff;
}
.submenu a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.submenu a:hover{
    text-decoration: underline;
    color: #0f0f0f;
}
.buttoncity{
    padding: 15px;
    background-color: #0f0f0f;
    color: white;
}
.text{
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    color: white;
    font-size: 30px;
    display: block;
}
.lichtap{
    display: none;
    border: solid 1px black;
    margin: 0 150px;
    border-radius: 5px;
}
.lichtap a{
    text-decoration: none;
    font-size: 20px;
    color: #0f0f0f;
    border: solid 1px black;
    padding: 10px;
    margin: 5px;
}
.lichtap a:hover{
    text-decoration: none;
    font-size: 20px;
    color: red;
}
.btnt{
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right,#e8353c 50%,#e10000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    display: inline-block;
    font-weight: 400;
    color: white;
}
.btnt{
    margin-top: 10px;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
}
.btnt a{
    color: white;
    text-decoration: none;
}
.btnt a:hover{
    text-decoration: none;
    color: #0f0f0f;
}
.check{
    width: 200px;
    height: 50px;
    outline: none;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 20px;
}
.chontp{
    background-color: #0f0f0f;
    margin: 0 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.chontp a{
    color: white;
}
