.main .container{
    width: 100%;
    margin: 0 auto;
}

.main .title-of-list-service{
    width: 100%;
    margin: 20px auto;
}

.main .wrap{
    width: 100%;
    height: auto;
}

.underlined-title-list-service{
    width: 5%;
    height: 5px;
    margin: 50px auto;
    background-color: red;
}

.main .title-of-list-service > h3{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    height: auto;
    display: block;
}

.main .img-of-place>a{
    width: 100%;
    height: 100%;
    display: block;
}

.main .wrap-all-list-service{
    width: 100%;
    height: auto;
    margin-bottom:50px;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 10;
}

.main .background-red{
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.5;
    display: none;
    position: absolute;
}

.main .img-of-place,.wrap-link-service{
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

.main .override-img{
    position: absolute;
    width: 100%;
    max-height: 10%;
    text-align: center;
    bottom: 15px;
}

.main .img-title{
    font-weight: 500;
    color: white;
    font-size: 1.7em;
}

.main .img-of-place,.wrap-img{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.main .img-of-place>img,.link-service>img, .wrap-img>img{
    width: 100%;
    height: 100%;
}


.main .content-under-title{
    width: 60%;
    max-height: 100px;
    margin: 30px auto;
    font-size: 1.3em;
    text-align: center;
}

.main .wrap-all-img-place{
    max-width: 100%;
    height: 1500px;
    margin-bottom: 50px;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


#towCol1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#towCol2{
    grid-column-start: 3;
    grid-column-end: 5;
}

.main .text-over-img{
    width: 100%;
    max-height: 20%;
    position: absolute;
    top: 45%;
}

.main .text-over-img>h3{
    color: white;
    font-weight: 500;
    font-size: 1.8em;
    text-align: center;
}


/*nghia ha*/

.content-title{
    text-align: center;
}
.content-header{
    margin: 20px 0 20px 0;
}
.content-content{
    text-align: center;
    margin: 0 0 20px 0;
}
.content-line{
    width: 84px;
    height: 5px;
    background: #dc282f;
    margin: 30px auto;
}
.main-content{
    width: 100%;
    height: 900px;
    position: relative;
}
.pt-profile{
    width: 45%;
    max-height:600px;
    float:left;
    margin: 20px 25px 20px 33px;
    box-shadow: 0 0 4px 4px #000;
    -webkit-box-shadow: 0 0 10px #928e8e;
}
.pt-profile img{
    width: 50%;
    height: 348px;
    float: left;
}
.scroll-profile-content{
    width: 50%;
    font-size: 15px;
    padding: 15px 20px;
    overflow: hidden;
}
.name-title{
    margin-bottom: 35px;
    border-left: 5px solid #DC2930;
    padding-left: 20px;
}
 .main-content .name{
    font-size: 22px;
    color: #DC2930;
    width: 160.42px;
    height: 23px;
    margin-bottom: 10px;
}
.main-content .title {
    font-size: 12px;
}
.main-content .quote li{
    width: 184.42px;
    height: auto;
    margin-bottom: 15px;
}
.quote li::before{
    content: '';
    background: #dc2930;
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -1px;
}
.main-content .profile-content{
    font-size: 18px;
    height: 311px;
    position: relative;
    overflow: auto;
}
.scroll-profile-content ::-webkit-scrollbar {
    width: 5px;
}
.scroll-profile-content ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scroll-profile-content ::-webkit-scrollbar-thumb {
    background: #888;
}
.scroll-profile-content ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-content .parent>a{
    width: 150px;
    height: 40px;
    background-color: #DC2930;
    display: flex;
    bottom: 5%;
    left: 44%;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 500ms;
    border-radius: 7px;
}
.parent>a{
    width: 100%;
    height: 100%;

}
.parent>a:hover{
    box-shadow: 0 0 4px 4px #000;
    -webkit-box-shadow: 0 0 10px #928e8e;
    background-color: #ff4a4f;
}
